@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&family=Lato:wght@300&display=swap');


.h {
    border: 1px solid red;
}

.foodcategorybg {
    background-color: #8EC5FC;
    background-image: -webkit-linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-image: -moz-linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-image: -o-linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}